### Load Data

In [1]:
import pandas as pd

In [2]:
links = pd.read_csv('/Users/gabrielwarner/Downloads/ml-latest-small/links.csv')

In [3]:
movies = pd.read_csv('/Users/gabrielwarner/Downloads/ml-latest-small/movies.csv')

In [4]:
ratings = pd.read_csv('/Users/gabrielwarner/Downloads/ml-latest-small/ratings.csv')

In [5]:
tags = pd.read_csv('/Users/gabrielwarner/Downloads/ml-latest-small/tags.csv')

### Merge Data Frames

In [6]:
new = pd.merge(links, movies)

In [7]:
new_2 = pd.merge(new, ratings)

In [8]:
new_3 = pd.merge(new_2, tags)

In [9]:
# Drop movieId and timestamp
tags_2 = tags.drop(columns=['movieId', 'timestamp'])

In [10]:
df_pre = pd.merge(new_2, tags_2)

In [11]:
# Check for null values
df_pre.isnull().sum()

movieId      0
imdbId       0
tmdbId       8
title        0
genres       0
userId       0
rating       0
timestamp    0
tag          0
dtype: int64

In [12]:
# Drop null values
df = df_pre.dropna()

In [13]:
# Check null values
df.isnull().sum()

movieId      0
imdbId       0
tmdbId       0
title        0
genres       0
userId       0
rating       0
timestamp    0
tag          0
dtype: int64

In [14]:
#looking at the corr
df.corr()['movieId']

movieId      1.000000
imdbId       0.830619
tmdbId       0.713276
userId      -0.112574
rating      -0.066568
timestamp    0.488315
Name: movieId, dtype: float64

In [15]:
# replace | with , in the genres column
df['genres'] = df['genres'].str.replace('|',' , ')

<ipython-input-15-3f73d1d84068>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['genres'] = df['genres'].str.replace('|',' , ')
<ipython-input-15-3f73d1d84068>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['genres'] = df['genres'].str.replace('|',' , ')

In [16]:
print(df.nunique())

movieId       6498
imdbId        6498
tmdbId        6498
title         6497
genres         836
userId          58
rating          10
timestamp    20801
tag           1589
dtype: int64

In [17]:
df = df.drop_duplicates(subset=['movieId'])

In [18]:
# convert df to a csv file
df.to_csv('/Users/gabrielwarner/Data-Science/Projects/phase_4/movies_2.csv')

### Explode genres column

In [19]:
df['new_genres'] = df['genres'].str.split(',', 10)

In [20]:
df = df.explode('new_genres')

In [21]:
# drop genres from df
df = df.drop(columns=['genres'])

In [22]:
df

,movieId,imdbId,tmdbId,title,userId,rating,timestamp,tag,new_genres
0,1,114709,862.0,Toy Story (1995),7,4.5,1106635946,way too long,Adventure
0,1,114709,862.0,Toy Story (1995),7,4.5,1106635946,way too long,Animation
0,1,114709,862.0,Toy Story (1995),7,4.5,1106635946,way too long,Children
0,1,114709,862.0,Toy Story (1995),7,4.5,1106635946,way too long,Comedy
0,1,114709,862.0,Toy Story (1995),7,4.5,1106635946,way too long,Fantasy
...,...,...,...,...,...,...,...,...,...
4626761,193583,5914996,445030.0,No Game No Life: Zero (2017),184,3.5,1537109545,black and white,Comedy
4626761,193583,5914996,445030.0,No Game No Life: Zero (2017),184,3.5,1537109545,black and white,Fantasy
4626796,193585,6397426,479308.0,Flint (2017),184,3.5,1537109805,black and white,Drama
4626831,193587,8391976,483455.0,Bungo Stray Dogs: Dead Apple (2018),184,3.5,1537110021,black and white,Action
4626831,193587,8391976,483455.0,Bungo Stray Dogs: Dead Apple (2018),184,3.5,1537110021,black and white,Animation